<header>

    <nav class="menu-header">
        <div class="menu-sandwich">
            <input id="menu-sandwich-check" type="checkbox">
            <label for="menu-sandwich-check">
                <div class="menu-sandwich-bt"></div>
            </label>
            <div class="menu-sandwich-active">
                <ul>
                    <li><a href="home">produtos</a></li>
                    <li><a href="#">agendar cabeleireira</a></li>
                    <li><a href="#">meu perfil</a></li>
                    <li><a href="#">contato</a></li>
                    <li><a href="#">ajuda</a></li>
                </ul>
            </div>
        </div>

        <div class="logo">
            <a href="#">
                <img src="../images/logotipo-vanhair.svg" width="90px" alt="logotipo vanessa leme">
                <img class="logo-name" src="../images/logo-nome-vanessaleme.svg" alt="vanessa leme hair stylist">
            </a>
        </div>

        <div class="menu-rigth">
            <ul>
                <li>
                    <a href="#"><img src="../images/iconmonstr-shopping-bag-17.svg" alt="loja de produtos kerastase">
                        <span>produtos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../images/iconmonstr-user-10.svg" alt="meu perfil">
                        <span>meu perfil</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="../images/iconmonstr-calendar-4.svg" alt="agendar salao">
                        <span>agendar</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>