<section class="container" id="question_0">
    <div class="apoio">
        <img src="../images/apoio-logotipo-kerastase.svg" alt="apoio kerastase">
    </div>

    <div class="box-description">
        <div class="box-description-left">
            <h1>Qual perfil do seu cabelo?</h1>
            <p>Vou te ajudar a encontrar os produtos ideais para o seu tipo de cabelo!</p>
            <div class="box-description-risk-1"></div>
        </div>

        <div class="box-description-rigth">
            <h1>Vamos criar o seu perfil?</h1>
            <p>Inicie online nosso processo simples de 5 etapas e identifique seu perfil de cabelo.</p>
            <div class="box-description-risk-2"></div>
        </div>
    </div>

    <!--Button next arrow-->
    <div class="btn-container">
        <button id="submit0">
            <span class="text">Começar</span>
            <div class="icon-container">
                <div class="icon icon--left">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="icon icon--right">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <!--Final Button next arrow-->
</section>