<section class="container" id="question_4">
    <div class="questions five">
        
            <h2 class="flex-h2">
                4. Qual o resultado desejado?
                <div class="box-description-risk-2"></div>
            </h2>
            <p>Selecione uma ou mais opções, em seguida clique em Finalizar.</p>

            <div class="flexCenter">

                <label class="text-check flex-checkbox" for="question-17">
                    <input type="checkbox" id="question-17"  name="brilho" checked>
                    Brilho
                    <span class="checking"></span>
                </label>

                <label class="text-check flex-checkbox" for="question-18">
                    <input type="checkbox" id="question-18"  name="maciez">
                    Maciez
                    <span class="checking"></span>
                </label>

                <label class="text-check flex-checkbox" for="question-19">
                    <input type="checkbox" id="question-19"  name="reacar cor">
                    Realçar Cor
                    <span class="checking"></span>
                </label>

                <label class="text-check flex-checkbox" for="question-20">
                    <input type="checkbox" id="question-20"  name="volume">
                    Volume
                    <span class="checking"></span>
                </label>
            </div>
    </div>

    <!--Button next arrow-->
    <div class="btn-container">
        <button id="submit4">
            <span class="text">Finalizar</span>
            <div class="icon-container">
                <div class="icon icon--left">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="icon icon--right">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <!--Final Button next arrow-->


</section>