<section class="container" id="question_2">
    <div class="questions two">
        <h2>2. Quantas vezes por semana voce lava/seca o cabelo?
            <div class="box-description-risk-2"></div>
        </h2>
        <p>Selecione uma opção de lavagem.</p>

        <div class="flexCenter">

            <div class="wash-hair">
                <span>Lava</span>
                <img src="/images/shower-lavar-vanessa-leme.svg" alt="lava cabelo">
            </div>

            <label class="text-check flex-checkbox" for="question-5">
                <input type="radio" id="question-5" name="lava cabelo">
                Menos de 3 vezes por semana
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-6">
                <input type="radio" id="question-6" name="lava cabelo" checked>
                3 vezes por semana
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-7">
                <input type="radio" id="question-7" name="lava cabelo">
                <span class="checking"></span>
                Mais de 3 vezes por semana
            </label>
        </div>
    </div>

    <div class="questions three">
        <h2>
            <div class="box-description-risk-2"></div>
        </h2>
        <p>Selecione uma opção de secagem, em seguida clique em Avançar.</p>

        <div class="flexCenter">
          
            <div class="wash-hair">
                    <span>Seca</span>
                    <img src="/images/secador-de-cabelo.svg" alt="seca cabelo">
                </div>

                <label class="text-check flex-checkbox" for="question-8">
                    <input type="radio" id="question-8" name="seca cabelo">
                    Sempre
                    <span class="checking"></span>
                </label>

                <label class="text-check flex-checkbox" for="question-9">
                    <input type="radio" id="question-9" name="seca cabelo" checked>
                    As vezes
                    <span class="checking"></span>
                </label>

                <label class="text-check flex-checkbox" for="question-10">
                    <input type="radio" id="question-10" name="seca cabelo">
                    <span class="checking"></span>
                    Nunca (seca ao ar livre)
                </label>
            </div>  
        </div>

    <!--Button next arrow-->
    <div class="btn-container">
        <button id="submit2">
            <span class="text">Avançar</span>
            <div class="icon-container">
                <div class="icon icon--left">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="icon icon--right">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <!--Final Button next arrow-->
</section>