<section class="container" id="question_3">
    <div class="questions four">
        <h2 class="flex-h2">
            3. Fez alguns desses procedimentos nos últimos 30 dias?
            <div class="box-description-risk-2"></div>
        </h2>
        <p>Selecione uma ou mais opções, em seguida clique em Avançar.</p>

        <div class="flexCenter">

            <label class="text-check flex-checkbox" for="question-11">
                <input type="checkbox" id="question-11"  name="hidratacao">
                Hidratação
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-12">
                <input type="checkbox" id="question-12"  name="pintura">
                Pintura
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-13">
                <input type="checkbox" id="question-13" name="mechas">
                Mechas
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-14">
                <input type="checkbox" id="question-14"  name="corte">
                Corte
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-15">
                <input type="checkbox" id="question-15"  name="outros 1" checked>
                outros 1
                <span class="checking"></span>
            </label>

            <label class="text-check flex-checkbox" for="question-16">
                <input type="checkbox" id="question-16"  name="outros 2">
                outros 2
                <span class="checking"></span>
            </label>
        </div>

    </div>

    <!--Button next arrow-->
    <div class="btn-container">
        <button id="submit3">
            <span class="text">Avançar</span>
            <div class="icon-container">
                <div class="icon icon--left">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="icon icon--right">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <!--Final Button next arrow-->
</section>