/*Global  -------------------*/
:root {
    --color-link-ligth: #ff02fc;
    --color-link-rox: #8826f4;
    --color-link-white: #fff;
}

::-webkit-scrollbar {
    width:6px;
    height: 6px;
}
     
::-webkit-scrollbar-track {
    background:#333;
}

::-webkit-scrollbar-thumb {
    background: var(--color-link-ligth);
}

.flexCenter {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}
