.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
    --btn-bg: #ff02fc;
		--bg: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.btn-container button {
	--width: 150px;
	--height: 50px;
	border: 0;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius: var(--height);
	color: rgba(255, 255, 255, 0.836);
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	font-weight: bold;

	.text,
	.icon-container {
		position: relative;
		z-index: 2;
	}

	.icon-container {
		--icon-size: 25px;
		position: relative;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-left: 20px;
		transition: transform 500ms ease;

		.icon {
			position: absolute;
			left: 0;
			top: 0;
			width: var(--icon-size);
			height: var(--icon-size);
			transition: transform 500ms ease, opacity 250ms ease;

			&--left {
				transform: translateX(-200%);
				opacity: 0;
			}

			svg {
				width: 100%;
				height: 100%;
				fill: #fff;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: var(--btn-bg);
		border-radius: var(--height);
		z-index: 1;
		transition: transform 500ms ease;
        opacity: 0.5;
	}

	&:hover {
		&::after {
			transform: translateX(65%);
		}

		.icon-container {
			transform: translateX(55%);
			.icon {
				&--left {
					transform: translateX(0);
					opacity: 1;
				}
				&--right {
					transform: translateX(200%);
					opacity: 0;
				}
			}
		}
	}
}

.menu-lateral-fixed{
	display: flex;
	position: absolute;
	top: 0;
	left:0;
	opacity:1;
	height:100vh;
	z-index: 998;
	transition: 0.2s;
	
	
	ul{
		display: flex;
		list-style: none;
		background: linear-gradient(10deg, #380079 0%, #260052 100%);
	    width: 60px;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		gap: 1rem;
		box-shadow: 0 0 0.5em #260052;
	}
	li{
		color: #fff;
		margin-top: 30px;
		width: 30px;
	}
	li a{
		cursor: pointer;
		display:block;
	}
	li a:hover{
		background: #fff;

		z-index: 999;
	}
	@media (max-width: 800px)  {
		display: none;
		li{
			margin-top: 20px;
		}
	}
}