.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
    --btn-bg: #ff02fc;
		--bg: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.btn-container button {
	--width: 150px;
	--height: 50px;
	border: 0;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius: var(--height);
	color: rgba(255, 255, 255, 0.836);
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	font-weight: bold;

	.text,
	.icon-container {
		position: relative;
		z-index: 2;
	}

	.icon-container {
		--icon-size: 25px;
		position: relative;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-left: 20px;
		transition: transform 500ms ease;

		.icon {
			position: absolute;
			left: 0;
			top: 0;
			width: var(--icon-size);
			height: var(--icon-size);
			transition: transform 500ms ease, opacity 250ms ease;

			&--left {
				transform: translateX(-200%);
				opacity: 0;
			}

			svg {
				width: 100%;
				height: 100%;
				fill: #fff;
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: var(--btn-bg);
		border-radius: var(--height);
		z-index: 1;
		transition: transform 500ms ease;
        opacity: 0.5;
	}

	&:hover {
		&::after {
			transform: translateX(65%);
		}

		.icon-container {
			transform: translateX(55%);
			.icon {
				&--left {
					transform: translateX(0);
					opacity: 1;
				}
				&--right {
					transform: translateX(200%);
					opacity: 0;
				}
			}
		}
	}
}

/*Menu Header Sandwich -------------------*/
.menu-sandwich {
    padding: 1.1rem 1.1rem;
    /*min-width: 30%;*/
}

/*Desenho Menu Sandwich--------------------------*/
.menu-sandwich-bt  {
    display: block;
    background: var(--color-link-ligth);
    width: 25px;
    height:3px;
    border-radius: 10px;
    position:relative;
    cursor: pointer;  
    transition: .3s ease-in-out; 
    box-shadow: 0 0 0 0 var(--color-link-rox), 0 0 0 0 var(--color-link-rox); 

        &:after,
        &:before  {
            background: var(--color-link-ligth);
            content: '';   
            position: absolute;
            width: 100%;
            height:100%;
            transition: .3s ease-in-out;
            border-radius: 10px;     
        }

        &:before  {
            top: -10px;
            width: 35px;     
        }

        &:after  {
            bottom: -10px;
            width: 5px;
        }

        input:checked ~ label & {
            transform: rotate(45deg);
            width: 35px;
            background: var(--color-link-rox);
        }
        
        input:checked ~ label &:before {
            transform: rotate(90deg);
            top:0;
            background: var(--color-link-rox);
        }
        
        input:checked ~ label &:after {
            transform: rotate(90deg);
            bottom:0;
            width: 35px;
            background: var(--color-link-rox);
        }
        
        input:checked ~ label & {
            box-shadow: 0 0 0 110vw var(--color-link-ligth), 0 0 0 110vh var(--color-link-ligth);
            z-index: 994;
			transition:  0.2s;
        }
}

#menu-sandwich-check {
    display: none; 
}

/*Acao ao clicar no Menu Sandwich--------------------------*/
.menu-sandwich-active {
    @extend .flexCenter;
    position: absolute;
    width: 92%;
    margin-top: 10vh;
    z-index: 995;
    text-align: center;
	transition: 0.3s ease-in-out;

    ul{
        list-style: none;
        opacity: 0;
		display: none;
    }

    input:checked ~ & ul {
        opacity: 1;
		transition: 0.3s;
		display: block;
    }

    ul li{
        font-size: 1.2rem;
        font-weight: 500;
        font-variant: small-caps;
    }

    li a{
        color:#230841;
        opacity: 0.7;
    }

    li a:hover{
        opacity: 1;
    }
}

/*--------Menu Lateral-------------------------*/
.menu-lateral-fixed{
	display: flex;
	position: absolute;
	top: 0;
	left:0;
	opacity:1;
	height:100vh;
	z-index: 998;
	transition: 0.2s;
	
	
	ul{
		display: flex;
		list-style: none;
		background: linear-gradient(10deg, #380079 0%, #260052 100%);
	    width: 60px;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		gap: 1rem;
		box-shadow: 0 0 0.5em #260052;
	}

	li{
		color: #fff;
		margin-top: 30px;
		width: 30px;
		
	}

	li a{
		cursor: pointer;
		display:block;
		transition: transform 0.3s;
 		transform: translateX(0) scale(1.0);
	}

	li a:hover{
		transform: translateX(1rem) scale(1.5);
	}

	@media (max-width: 800px)  {
		display: none;
		li{
			margin-top: 20px;
		}
	}
}
/*Acao ao clicar no Menu Lateral-------------------------*/
.menu-lateral-fixed .icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .menu-lateral-fixed .tooltip {
	position: absolute;
	left: 0;
	font-size: 14px;
	color: var(--color-link-white);
	padding: 10px 10px;
	border-radius: 4px;
	min-width: 200px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	h2{
		font-size: 1.1rem;
		margin-top: 5px;
		letter-spacing: 1px;
	}
  }
  
  .menu-lateral-fixed .icon:hover .tooltip {
	left: 65px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
  }
  
  .menu-lateral-fixed .dics:hover .tooltip {
	//background-color: var(--color-link-rox);
	//background: linear-gradient(10deg, #380079 0%, #260052 100%);
	color: var(--color-link-white);
  }