<!DOCTYPE html>
<html lang="pt-br">

    <%- include ('../partials/head'); %>
    <title>Vanessa Leme - Hair Stylist</title>

<body>
    
    <%- include ('../partials/header'); %>
    <main>
        <div class="bg-video-color"></div>
        <video src="/images/bg_video_vanessa_hair.mp4" class="bg-video" preload="metadata" autoplay="" loop="" muted=""></video>
        

    </main>



    
    <script type="text/javascript" src="../../scripts/scripts.js"></script>
</body>
</html>