<nav class="menu-lateral-fixed">
    <ul>
        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Cabelos Crespo</h2>
                </div>
                <a href="#"><img src="/images/tipo-de-cabelo-crespo-vanhair.svg" width="30px" alt="Dicas e cuidados para Cabelos Crespo"></a>
            </div>
        </li>

        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Cabelos Enrolado</h2>
                </div>
                <a href="#"><img src="/images/tipo-de-cabelo-enrolado-vanhair.svg" width="30px" alt="Dicas e cuidados para Cabelos Enrolado"></a>
            </div>
        </li>

        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Cabelos Ondulado</h2>
                </div>
                <a href="#"><img src="/images/tipo-de-cabelo-ondulado-vanhair.svg" width="30px" alt="Dicas e cuidados para Cabelos Ondulado"></a>
            </div>
        </li>
        
        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Cabelos Liso</h2>
                </div>
                <a href="#"><img src="/images/tipo-de-cabelo-liso-vanhair.svg" width="30px" alt="Dicas e cuidados para Cabelos Liso"></a>
            </div>
        </li>

        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Lavar & Hidratar</h2>
                </div>
                <a href="#"><img src="/images/shower-lavar-vanessa-leme.svg" width="30px" alt="Dicas para lavar o cabelo"></a>
            </div>
        </li>

        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Escovas & Hidratação</h2>
                </div>
                <a href="#"><img src="/images/secador-de-cabelo.svg" width="30px" alt="Dicas para secar e hidratar o cabelo"></a>
            </div>
        </li>

        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Dicas & Cuidados para</p>
                    <h2>Coloração</h2>
                </div>
                <a href="#"><img src="/images/coloracao-vanessa-Leme-hair-stylist.svg" width="30px" alt="Dicas para pré e pós coloração do cabelo"></a>
            </div>
        </li>
        
        <li>
            <div class="icon dics">
                <div class="tooltip">
                    <p>Agendar com</p>
                    <h2>Cabeleireiro</h2>
                </div>
                <a href="#"><img src="/images/iconmonstr-calendar-4.svg" width="30px" alt="Agendar data e hora com cabeleireiro(a)"></a>
            </div>
        </li>
    </ul>
</nav>