<nav class="menu-lateral-fixed">
    <ul>
        <li><a href="#"><img src="/images/tipo-de-cabelo-crespo-vanhair.svg" alt="Cabelo Crespo"></a></li>
        <li><a href="#"><img src="/images/tipo-de-cabelo-enrolado-vanhair.svg" alt="Cabelo Enrolado"></a></li>
        <li><a href="#"><img src="/images/tipo-de-cabelo-ondulado-vanhair.svg" alt="Cabelo Ondulado"></a></li>
        <li><a href="#"><img src="/images/tipo-de-cabelo-liso-vanhair.svg" alt="Cabelo Liso"></a></li>
        <li><a href="#"><img src="/images/shower-lavar-vanessa-leme.svg" alt="Coloraçao"></a></li>
        <li><a href="#"><img src="/images/secador-de-cabelo.svg" alt="Hidratação"></a></li> 
        <li><a href="#"><img src="/images/secador-de-cabelo.svg" alt="Corte"></a></li>         
    </ul>
</nav>
