<section class="container" id="question_1">
    <div class="questions one">
        <h2>
            1. O meu cabelo é!
            <div class="box-description-risk-2"></div>
        </h2>
        <p>Selecione uma das opções, em seguida clique em Avançar.</p>
        <div class="flexCenter">
        
            <label class="container-check" for="question-1a">
                <img src="/images/tipo-de-cabelo-crespo-vanhair.svg" alt="Cabelo Crespo">
                <input type="radio" id="question-1a" name="tipo de cabelo">
                <span class="check"></span>
                Crespo
            </label>

            <label class="container-check" for="question-2">
                <img src="/images/tipo-de-cabelo-enrolado-vanhair.svg" alt="Cabelo Cacheado">
                <input type="radio" id="question-2" name="tipo de cabelo">
                <span class="check"></span>
                Cacheado
            </label>

            <label class="container-check" for="question-3">
                <img src="/images/tipo-de-cabelo-ondulado-vanhair.svg" alt="Cabelo Ondulado">
                <input type="radio" id="question-3"  name="tipo de cabelo">
                <span class="check"></span>
                Ondulado
            </label>

            <label class="container-check" for="question-4">
                <img src="/images/tipo-de-cabelo-liso-vanhair.svg" alt="Cabelo Liso">
                <input type="radio" id="question-4"  name="tipo de cabelo">
                <span class="check"></span>
                Liso
            </label>
        </div>
    </div>
    <!--Button next arrow-->
    <div class="btn-container">
        <button id="submit1">
            <span class="text">Avançar</span>
            <div class="icon-container">
                <div class="icon icon--left">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="icon icon--right">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
    </div>
    <!--Final Button next arrow-->

</section>