<!DOCTYPE html>
<html lang="pt-br">

    <%- include ('../partials/head'); %>
    <title>Vanessa Leme - Hair Stylist</title>

<body>
    
    <%- include ('../partials/header'); %>



    
    <script type="text/javascript" src="../../scripts/scripts.js"></script>
</body>
</html>